@use '../util' as u;

.feature {
  display: grid;
  gap: u.rem(24);

  @media (width >= u.em(1110)) {
    gap: u.rem(30);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  &__picture {
    @media (width >= u.em(1110)) {
      grid-column: 1 / 3;
    }
  }

  &__image {
  }

  &__headline {
    font-size: u.rem(40);
    font-size: var(--f-xl);
    font-weight: 800;
  }

  &__description {
    p {
      margin-block-end: u.rem(30);
    }
  }

  &__button {
    justify-self: start;
    display: inline-block;
    background-color: var(--c-red);
    color: var(--c-white);
    font-size: u.rem(14);
    letter-spacing: 0.31em;
    font-weight: 700;
    text-transform: uppercase;
    padding: u.rem(12) u.rem(32);

    &:hover {
      background-color: var(--c-blue);
    }
  }
}
