@use '../util' as u;

.header {
  display: flex;
  justify-content: space-between;
  padding-block: u.rem(30);

  @media (width >= u.em(1110)) {
    padding-block: u.rem(90) u.rem(55);
  }

  &__logo {
    width: u.rem(45);

    @media (width >= u.em(1110)) {
      width: u.rem(64);
    }
  }

  &__links {
    display: flex;
    gap: u.rem(40);

    @media (width < u.em(1110)) {
      flex-direction: column;
      gap: u.rem(24);
    }
  }

  &__link {
    color: var(--c-blue);
    font-size: u.rem(18);
    line-height: 1.3;

    @media (width >= u.em(1110)) {
      font-size: var(--f-body);
      color: var(--c-gray);
    }

    &:hover {
      color: var(--c-red);
    }
  }
}
