@use '../util' as u;

.new {
  background-color: var(--c-blue);
  padding: u.rem(24) u.rem(20);

  @media (width >= u.em(1110)) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  &__title {
    font-size: var(--f-l);
    color: var(--c-yellow);
  }

  &__post {
    padding-block: u.rem(30);
    border-block-end: 1px solid var(--c-gray);

    &:last-child {
      border: none;
    }
  }

  &__headline {
    display: inline-block;
    font-size: var(--f-s);
    font-weight: 800;
    margin-block-end: u.rem(8);
    color: var(--c-white);

    &:hover {
      color: var(--c-yellow);
    }
  }

  &__description {
    font-size: var(--f-body);
    color: var(--c-silver);
  }
}
